/*1. dessendor combinator selctor*/

/* div h1{
    color: antiquewhite;
} */


/*2.child selector*/
/* div>h2{
    color: brown;

}
h2>p{
    color: rgb(17, 255, 0);
} */


/*3.adjacent sibiling selector*/


/* div + h2{
    background-color:green;
  
  
} */


/*general sibling selector*/


div~h2{
    border-style: double;
    border-color: blanchedalmond;
    color: brown;
}