/* //pseduo class selector// */

/* h1:hover{
    color: blueviolet;
}


h2:hover{
    color: chartreuse;
}
 */


/* psedudo class selector */

/* p::first-line{
    color: burlywood;

}

h2::first-letter{
    background-color: rgb(106, 23, 96);

}


h1::before{
    border-style: double;
    border-color: blue;
    content: "hii";
}


h1::after{
    border-style: dotted;
    border-color:red;
    content:"this selector topic";

}
 */

 /* Attribute selector */


 h1[class="akhi"]{
    color: brown;
 }

 [class^="nari"]{
    border-style:double;
    border-color:brown;

 }