/* .akhi{
    color: aqua;
    border: 20px;
}
#nari{
    color: blue;
    border-radius: 20px ;

}
h1{
    color:white;
    background-color: rgb(47, 0, 255);
    border-style: dotted;
} */
/* *{
    color: brown;
    background-color:black;
    border-style: double;
} */
/* h1,h2{
    color:white;
    background-color:pink ;
border-style: double;
} */